
<ul class="post-list">
    {{#each posts as |post|}}
    <li>
        <!-- since single-post and homepage pages had the same <article> element, you  used post-info partial template to place that <article> element and now yo simply 'call' it here instead of repeating the code-->
        {{> single-post post }}
        
    </li>
    {{/each}}
</ul>

